/* LOGIN */

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #06283D;
	background-size: cover;
}

.box{
	width: 500px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}

.box input[type="text"],.box input[type="password"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 270px;
	border-color: #ffc400ec;
}

.box input[type="button"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 35px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.box input[type="button"]:hover{
	background: #ffc400ec;

}

