/* MENU */

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: white;
}

.menu {
    float: left;
    margin: auto;
    padding: 10px;
    background-color: wheat;
    color: black;
}

.menu a {
    color: black;
}

.content {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.title {
    text-align: center;
    background-color: indigo;
    border: 1px solid indigo;
    color: whitesmoke;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 10px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

.menu-title {
    padding-top: 4rem;
}

.card-menu {
    border-radius: 10px;
    max-width: 45rem;
    margin: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    padding: 20px;
    background-color: #ff4757;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 2.5rem;
}

.card-subtitle {
    font-size: 1.4rem;
    padding: 0 80px;
    /* y, x  */
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.text-footer {
    font-size: 0.8rem;
    padding: 0 80px;
    opacity: 40%;
}

.success-message {
    background-color: #16a085;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.card-padding {
    padding: 25px;
}

.card-image {
    margin: auto;
    width: 50%;
    padding: 5px;
    margin-top: 100px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.padding-top {
    padding-top: 15px;
}