/* RESERVATION */

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #06283D;
	background-size: cover;
}

.box{
	width: 600px;
	padding: 150px;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	color: white;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding-bottom: 70px;
}

.box input[type="text"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.box input[type="number"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.box input[type="number"]:focus{
	width: 270px;
	border-color: #ffc400ec;
}

.box input[type="email"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.box input[type="text"]:focus{
	width: 270px;
	border-color: #ffc400ec;
}

.combo-box{
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 10px;
	outline: 0;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.combo-box:focus{
	width: 270px;
	border-color: #ffc400ec;
}

.box input[type="date"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 10px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
	width: 500px;
}

.box input[type="date"]:focus{
	width: 270px;
	border-color: #ffc400ec;
}

.box input[type="submit"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 5px solid #0367fd;
	padding: 14px 35px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25px;
}

.box input[type="submit"]:hover{
	background: #ffc400ec;

}

.text label{
	text-align: center;

}